build/snap/local/lib/
build/snap/*.snap
.metals/
.direnv/

.sass-cache/
_site/
docs/_build/

### JetBrains template
*.iws

# IntelliJ
/.idea
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
