[submodule "zoonavigator-api"]
	path = zoonavigator-api
	url = git@github.com:elkozmon/zoonavigator-api.git
[submodule "zoonavigator-web"]
	path = zoonavigator-web
	url = git@github.com:elkozmon/zoonavigator-web.git
